$theme-colors: (
        "primary": #ff6106,
        "secondary": #000000,
        "danger": #ff4136
);

$body-bg: #EAEAEA;

$jumbotron-color: rgba(255, 97, 6, 0.83);
$jumbotron-bg: rgba(34, 25, 16, 0.09);


@import "../../node_modules/bootstrap/scss/bootstrap";